* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 80px;
    border: 2px solid black;
}

button {
    padding: 10px;
    font-size: 20px;
}

.box__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#box1,
#box2 {
    height: 150px;
    width: 150px;
    border: 2px solid black;
}